<!DOCTYPE html>
<html>

<head>
  <link rel="shortcut icon" href="/images/目的地アイコン1.ico">
  <title><%= title %></title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/login.css' />
  <script type="text/javascript" src="/javascripts/commonCustom.js"></script>
  <script type="text/javascript" src="/javascripts/loginCustom.js"></script>
</head>

<body>

  <header>
    <div class="header-measure">
      <div class="header-logo">
        <a href="/"><img src="/images/title.jpg" alt=""></a>
      </div>
      <div class="header-nav">
        <nav class="nav">
          <ul>
            <li class="nonUser"><a href="/">ホーム</a></li>
            <li class="nonUser"><a href="/general">会員登録</a></li>
            <li class="nonUser"><a href="/regist">法人登録</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <main>

    <h1 class="fadeUp1"><%= title %></h1>

    <div id="errDiv" class="errMsg fadeIn" hidden><%= error %></div>

    <div id="createLoginForm">
      <form action="/login" method="post">
        <table>
          <tbody>
            <tr class="fadeUp2">
              <th style="padding-right: 20px;">ログインID</th>
              <td><input type="text" name="loginId" class="check" value="<%= loginId %>"></td>
            </tr>
            <tr class="fadeUp2" id="idErrArea" style="display: none;">
              <td></td>
              <td colspan="2"><span class="errMsg">8桁以上の半角英数字で入力してください。</span></td>
            </tr>
            <tr class="fadeUp2">
              <th style="padding-right: 20px;">パスワード</th>
              <td><input type="password" name="password" class="check" value="<%= password %>"></td>
            </tr>
            <tr class="fadeUp2" id="pwErrArea" style="display: none;">
              <td></td>
              <td colspan="2"><span class="errMsg">8桁以上の半角英数字で入力してください。</span></td>
            </tr>
            <tr class="fadeUp3">
              <td></td>
              <td style="text-align: right;"><button type="submit" id="btnLogin" disabled="disabled">ログイン</button></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>

  </main>

</body>

</html>
