<!DOCTYPE html>
<html>

<head>
  <link rel="shortcut icon" href="/images/目的地アイコン1.ico">
  <title><%= title %></title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/regist.css' />
  <script type="text/javascript" src="/javascripts/commonCustom.js"></script>
  <script type="text/javascript" src="/javascripts/registCustom.js"></script>
</head>

<body>

  <header>
    <div class="header-measure">
      <div class="header-logo">
        <a href="/"><img src="/images/title.jpg" alt=""></a>
      </div>
      <div class="header-nav">
        <nav class="nav">
          <ul>
            <li class="nonUser"><a href="/">ホーム</a></li>
            <li class="nonUser"><a href="/login"><span>ログイン</span></a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <main>

    <h1 class="fadeUp1"><%= title %></h1>

    <div class="errMsg fadeIn"><%= error %></div>

    <div id="createRegistForm">
      <form action="/regist" method="post">
        <table>
          <tbody>
            <tr class="fadeUp2">
              <th>ユーザ名／企業名</th>
              <td><input type="text" name="userName" class="check" value="<%= userName %>"></td>
            </tr>
            <tr class="fadeUp2">
              <th>ログインID</th>
              <td><input type="text" name="loginId" class="check" value="<%= loginId %>"></td>
            </tr>
            <tr id="idErrArea" style="display: none;">
              <td></td>
              <td colspan="2"><span class="errMsg">8桁以上の半角英数字で入力してください。</span></td>
            </tr>
            <tr class="fadeUp2">
              <th>パスワード</th>
              <td><input type="password" name="password" class="check" value="<%= password %>"></td>
            </tr>
            <tr id="pwErrArea" style="display: none;">
              <td></td>
              <td colspan="2"><span class="errMsg">8桁以上の半角英数字で入力してください。</span></td>
            </tr>
            <tr class="fadeUp2">
              <th>パスワード（確認用）</th>
              <td><input type="password" name="password_2" class="check" value="<%= password2 %>"></td>
            </tr>
            <tr id="pwErrArea_2" style="display: none;">
              <td></td>
              <td colspan="2"><span class="errMsg">8桁以上の半角英数字で入力してください。</span></td>
            </tr>
            <tr class="fadeUp2">
              <th>連絡先（電話番号）</th>
              <td>
                <input type="tel" name="contact1" class="check contact onlyNum" id="contact_1" value="<%= contact1 %>">
                -
                <input type="tel" name="contact2" class="check contact onlyNum" id="contact_2" value="<%= contact2 %>">
                -
                <input type="tel" name="contact3" class="check contact onlyNum" id="contact_3" value="<%= contact3 %>">
              </td>
            </tr>
            <tr id="ctErrArea" style="display: none;">
              <td></td>
              <td colspan="2"><span class="errMsg">11桁の半角数字で入力してください。</span></td>
            </tr>
            <tr class="fadeUp3">
              <td></td>
              <td style="text-align: right;"><button type="submit" id="btnRegist" disabled="disabled">登録</button></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  
  </main>

</body>

</html>
